.bannerBgImage{
    height: 100vh;
    background: url("bg.jpg");
    background-size: cover;
    position: relative;
}

.bannerText{
    text-align: right;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.bannerTitle{
    font-size: 4rem;
}
.bannerDesc{
    font-size: 2rem;
}

.card{
    cursor: pointer;
}
.card:hover{
    transform: scale(1.05);
    transition: 0.1s;
    background-color: #d4e1df;
    border: 3px solid #000000;
}
.BIcon{
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.img-fluid:hover {
    transform: scale(1.05);
    transition: 0.1s;
    border: 3px solid #000000;
    border-radius: 5px;
}

.card-img-top{
    height: 50vh;
}

.boldonse-regular {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
  }

p,ul{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  } 
h2{
    font-family: "Arvo", serif;
    font-weight: 700;
    font-style: italic;
} 
h1{
    font-family: "Arvo", serif;
  font-weight: 700;
  font-style: normal;
}
h5{
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}
